
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
.navbar-nav {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
   
}
.header{
    top: 0;
    position: sticky;
    z-index: 1030;
}

.navbar-toggler .navbar-toggler-icon{
    background-image: url("../image/align-justify.svg");
}

.nav-link{
    color:rgba(15, 15, 15, 0.7);
}
.navbar{
    margin-bottom: 0;
    border-radius:0;
    position: fixed;
    width: 100%;
   
}

body{
   color:gainsboro;
}

.navbar-brand a{
    padding:0;
    background-image: url('../image/Screen\ Shot\ 2020-04-21\ at\ 8.34.08\ PM.png');
}

/* .jumbotron-custome{
    font-size:36px;
    font-weight: 20rem;
    color:#fff !important;
    text-align: center;
    border-radius:0;
    max-width: 100%; 
    text-transform: uppercase !important;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height:600px;
} */

.jumbotron1{
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 4rem;
}


.jumbotron1 p{
    font-size: 1rem;

    /* margin-top: 6rem; */
}

.jumbotron1 h1{
    padding-top:2rem;
    margin-top: 6rem;
    margin-bottom: 0;
}

.jumbotron1 hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.nav-item{
    padding-left: 1.3rem;
 
}


.round-pill{
    border-radius: 50rem!important;
    letter-spacing: 0.1rem;
    
}

.jumbotron1 a{
    background-color: #00ba94;
    border-color: #00ba94;
    font-size: small;
    font-weight: 700;
    color:white;
    z-index: 1000;
}


#carouselExampleIndicators img{
    height:620px;
}


.carousel-item{
    text-align: center;
    vertical-align: middle;
    text-align:center;
    /* position: absolute; */
}

#carouselExampleIndicators{
    margin-bottom: 1rem;
}

.video-display{
    text-align: center;
    padding-top: 1.3rem; 
    background-color: #f8f9fa!important;;
    padding-bottom: 1.3rem;
}

.video-cycling{
    text-align: center;
}

.video-cycling .row{
    width:100%;
    height:100%;
    margin-left: 0;
    padding-left: 0;
    padding-right:0;
}

.bg-partner{
    width:100%;
    height:300px;
    background-color:white;
    text-align: center;
    margin-top:1em;
}

.logo img{
    width:80%;
    height:50%;
    display: inline-block;
}

.logo{
    text-align: center;
    justify-content: center;
    padding-top:1em;
    padding-right:1em;
}

#row-logo{
    justify-content: center;
}

.title-logo{
    color: #34495e!important;
}

.title-logo h2{
    font-weight: 700;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-family: Metropolis,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}


svg {
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* background-image: linear-gradient(#ff9d2f, #ff6126); */

    /* set height to pixels if you want angle to change with screen width */
  }

.footer{
    background-color: #eff3f9!important;

}

.top-footer{
    text-align: center;   
    height:100%;
    width:100%;
}

.top-footer h6{
   margin-top: 1rem;
   font-weight: 700;
   color: #2f3542;
   margin-bottom: 0;
  
}

.footer img{
    border-radius: 50% 20% / 10% 40%;
}

.blockquote p{
  display:inline;
 
}

blockquote{
    margin-left: 5px;
    margin-right: 4px;
    border-left: 6px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    margin-bottom: 0;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    
  }

.blockquote p{
    margin-bottom: 0;
   text-align: center;
   margin-left: 10px;
   color:#747d8c;
}

.blockquote {
    margin-bottom: 0;
}

#footer-hr{
    margin: 0em;
    padding:0;
}

.blockquote .text-center{
    margin-bottom: 0;
}

.follower h5{
    font-family: 'Questrial', sans-serif;
    font-weight: 3em;
    color: #116149;
}

.follower{
    padding: 2em;
    padding-bottom: 2em;
    font-size: 14px;
    line-height: 22px;
}

.follower ul{
    list-style-type:none;
    padding:0;
}

.form-sub{
    float:right;
}

#sub{
    background-color: #CC0000;
    color:white;
}

.row .right{
    float:left;
}
